<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:spaceless>
            <div class="col-md-3">
                <div class="card" style="">
                    <div class="card-body">
                      <h5 class="card-title">{model.title}</h5>
                      <p class="card-text">{model.description}</p>
                      <a href='{be:moduleLink(route:"web_page_wizard", arguments:{id: id, action: "copy", source: model.uid, destination: id})}' class="btn btn-primary">Vælg</a>
                    </div>
                  </div>
            </div>
    </f:spaceless>

</html>